Django==4.2.7
djangorestframework==3.14.0
mysqlclient==2.2.0
pymongo==4.6.1
PyPDF2==3.0.1
python-docx==1.1.0
python-dotenv==1.0.0
django-cors-headers==4.3.1
requests==2.31.0
openai==1.10.0
httpx==0.27.2
asgiref<4,>=3.6.0
sqlparse>=0.3.1
tzdata
pytz
dnspython<3.0.0,>=1.16.0
lxml>=3.1.0
typing-extensions
charset-normalizer<4,>=2
idna<4,>=2.5
urllib3<3,>=1.21.1
certifi>=2017.4.17
anyio<5,>=3.5.0
distro<2,>=1.7.0
pydantic<3,>=1.9.0
sniffio
tqdm>4
httpcore==1.*
h11>=0.16
annotated-types>=0.6.0
pydantic-core==2.41.5
typing-inspection>=0.4.2